# Ignorar archivos y carpetas de Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.pot

# Ignorar configuraciones locales de Django
*.sqlite3
*.log
*.env
*.venv
.env/
venv/
instance/
.webassets-cache
.hystory

# Ignorar archivos y carpetas de Django específicos
db.sqlite3
*.py[cod]
*.sqlite3-journal

# Ignorar archivos y carpetas de caché de Vue.js y npm
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de configuración específicos de IDEs y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar archivos y carpetas de SO específicos
.DS_Store
Thumbs.db
.history
__pycache__
local.py
yp.

# Ignorar archivos y carpetas de Python específicos
0001_initial.py
0002_initial.py
0003_initial.py
0004_initial.py
0005_initial.py
0002_employee_user.py
0003_delivery_order.py
backend_carpi/main/capital/migrations/0001_initial.py
backend_carpi/main/deliveries/migrations/0001_initial.py
backend_carpi/main/deliveries/migrations/0002_initial.py
backend_carpi/main/deliveries/migrations/0003_delivery_order.py
backend_carpi/main/employees/migrations/0001_initial.py
backend_carpi/main/employees/migrations/0002_employee_user.py
backend_carpi/main/orders/migrations/0001_initial.py
backend_carpi/main/orders/migrations/0002_initial.py
backend_carpi/main/products/migrations/0001_initial.py
backend_carpi/main/users/migrations/0001_initial.py
